In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Plotting setup
plt.style.use("seaborn-v0_8-darkgrid")
sns.set_context("notebook")

# Load cleaned & normalized data
tsla = pd.read_csv("../data/processed/TSLA_clean.csv", parse_dates=["Date"], index_col="Date")
spy = pd.read_csv("../data/processed/SPY_clean.csv", parse_dates=["Date"], index_col="Date")
bnd = pd.read_csv("../data/processed/BND_clean.csv", parse_dates=["Date"], index_col="Date")

In [2]:
tsla.head()

,Close,High,Low,Open,Volume,Ticker,Close_Normalized
Date,,,,,,,
2015-07-01,17.943333,18.174667,17.856667,18.073999,31518000,TSLA,0.017788
2015-07-02,18.667999,18.830000,18.220667,18.680000,107458500,TSLA,0.019329
2015-07-06,18.648001,18.779333,18.420000,18.591999,61828500,TSLA,0.019286
2015-07-07,17.858667,18.346666,17.384666,18.333332,91576500,TSLA,0.017608
2015-07-08,16.997334,17.386667,16.954000,17.288000,93316500,TSLA,0.015776